.admin {
  padding: 1rem;

  & button {
    border-radius: 2rem;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 1rem !important;
    cursor: pointer;
  }

  &-title {
    margin: 0 1rem;
  }
  .submission-list {
    position: relative;
    // overflow-x: hidden;
    // overflow-y: auto;
    height: calc(100% - 20rem);
    border: 2px dashed black;
    display: flex;
    flex-wrap: wrap;

  }

  .submission-item {
    border: 1px solid #ccc;
    padding: 1rem;
    background: black;
    width: 300px;
    max-width: calc(100% - 2.5rem);
    position: relative;
    transition: opacity .5s;
    margin: 1rem;
    p {
      font-family: 'Arial';
      margin: 0 0 1rem;

    }
    .actions {
      button {
        padding: .5rem 1rem;
        margin: 0 !important;
      }
    }
    &.approved, &.denied {
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
      }
    }
    &.approved:after {
      content: '✅';
    }
    &.denied:after {
      content:'❌'
    }
  }

  .preview-canvas {
    width: 100%;
    max-width: 800px;
    height: auto;
    // border: 1px solid #eee;
    display: block;
  }

  .actions {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }
}
