@use '../../index.scss' as src;

.results {
  position: absolute;
  top: 0%;
  width: 3840px;
  height: 2160px;
  background: src.$stone;
  transform-origin: top left;
  outline: 2px solid red;

  // background: url('../../assets/images/layout1.png');
  background-size: contain;

  .submission-list {
    // display: flex;
    width: 100%;
    height: 100%;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    .preview-canvas {
      outline: 5px solid red;
      width: 400px;
      height: 150px;
    }
  }

  &-positions2 {
    position: absolute;
    inset: 0;

    &-submission {
      position: absolute;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 150px;
      // outline: 2px solid red;

      .preview-canvas {
        width: 100%;
        height: 100%;
        // outline: 2px solid blue;
      }
        // canvas 
    }
  }

  &-positions {
    position: absolute;
    inset: 0;

    &-position {
      position: absolute;
      width: 200px;
      height: 80px;
      border-radius: 50%;
      background: rgba(255, 0, 0, .1);
      transform: translate(-50%, -50%);
    }
  }
}