@use '../../index.scss' as src;

.results {
  position: absolute;
  top: 0%;
  width: 3840px;
  height: 2160px;
  transform-origin: top left;
  outline: 1px solid white;

  &.debug {
    background: url('../../assets/images/layout.png');
      background-size: contain;
  }

  &-positions2 {
    position: absolute;
    inset: 0;

    &-submission {
      position: absolute;
      transform: translate(-50%, -50%);
      width: 240px;
      height: 110px;

      &:after {
        content:'';
        position: absolute;
        inset: 24px;
        background: red;
        border-radius: 50%;
        display: none; // Turn off to debug postiions vs layout.png from above
      }

      .preview-canvas {
        width: 100%;
        height: 100%;
      }

      .empty {

      }
    }
  }

  &-positions {
    position: absolute;
    inset: 0;

    &-position {
      position: absolute;
      width: 200px;
      height: 80px;
      border-radius: 50%;
      background: rgba(255, 0, 0, .1);
      transform: translate(-50%, -50%);
    }
  }
}