@use '../../index.scss' as src;

.quiz {
  position: absolute;
  inset: 20px;
  outline: 1px solid red;

  &-title {

  }
  &-questions {
    position: relative;

    &-question {
      width: 100%;
      height: 100%;
      position: absolute;
      outline: 1px solid black;

      &-answers {
        list-style: none;

        &-answer {
          width: calc(100% - 10rem);
          border: 2px solid black;
          padding: 3rem;
          text-align: center;
          cursor: pointer;
          margin: 1rem;
        }
      }
    }
  }
}