// Primary Colors
$peach-pop: rgb(253, 101, 98);
$white: rgb(255, 255, 255);
$light-peach: rgb(255, 164, 137);
$stone: rgb(252, 242, 232);
$dusty-pink: rgb(247, 219, 210);
$dark-brown: rgb(63, 13, 26);

// Packaging Colors
$pink: rgb(234, 139, 186);
$shadow-pink: rgb(240, 193, 177);
$lime-green: rgb(187, 227, 148);
$green: rgb(130, 197, 163);
$light-turquoise: rgb(133, 211, 209);
$purple: rgb(153, 133, 186);

html, body, #root, .app {
  overscroll-behavior-x: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}